<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href=""
      rel="stylesheet"
    />
    <title></title>
  </head>
  <body>
    

    <center>
        <table border="100" width="100%" style="height: 100vh;">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>SUBJECT</th>
            </tr>

            <% students.map((e,i)=>{ %>
            <tr>
                    <td><%=e.id%></td>
                    <td><%=e.name%></td>
                    <td><%=e.subject%></td>
                </tr>
                <%})%>
        </table>
    </center>



  </body>
</html>