<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Layout - Voler Admin Dashboard</title>
    
    <link rel="stylesheet" href="/public/assets/css/bootstrap.css">
    
    <link rel="stylesheet" href="/public/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/public/assets/css/app.css">
    <link rel="shortcut icon" href="/public/assets/images/favicon.svg" type="image/x-icon">
</head>
<body>
    <div id="app">
       <%- include('aside')%>


        <div id="main">
           <%- include('header')%>
            
<div class="main-content container-fluid">
    <div class="col-md-6 col-12">
        <div class="card">
            <div class="card-header ">
            <h4 class="card-title">Sub Category</h4>
            </div>
            <div class="card-content">
            <div class="card-body py-0">
                <form class="form form-vertical" action="/addSubCategory" method="post"  enctype="multipart/form-data">
                <div class="form-body">
                    <div class="row">


                    <div class="col-12">
                        <div class="form-group has-icon-left">
                            <label for="first-name-icon">Sub Category Name</label>
                            <div class="position-relative">
                                <input required name="subCategoryName" type="text" class="form-control" placeholder="Sub Category Name" id="first-name-icon">
                                <div class="form-control-icon">
                                    <i data-feather="user"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="form-group has-icon-left">
                            <label for="first-name-icon">Select Category</label>
                            <div class="position-relative">
                                <select class="form-select" name="categoryId" aria-label="Default select example">
                                    <% data.forEach((e) => { %>
                                        <option value="<%= e._id %>"><%= e.categoryName %></option>
                                    <% }) %>
                                  </select>
                               
                            </div>
                        </div>
                    </div>
                   
                   

                    <div class="col-12">
                        <div class="form-group has-icon-left">
                            <label for="password-id-icon">Sub Category Image</label>
                            <div class="position-relative">
                                <input required name="subCategoryImage" class="form-control form-control-sm" id="SmallFile" type="file">
                                <div class="form-control-icon">
                                    <i data-feather="mail"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>

                    
                    <div class="col-12 mb-4 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                        <button type="reset" class="btn btn-secondary me-1 mb-1">Reset</button>
                    </div>
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
</div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; Voler</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class='text-danger'><i data-feather="heart"></i></span> by <a href="https://saugi.me">Saugi</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/public/assets/js/feather-icons/feather.min.js"></script>
    <script src="/public/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/public/assets/js/app.js"></script>
    
    <script src="/public/assets/js/main.js"></script>
</body>
</html>
