<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - Voler Admin Dashboard</title>
    <link rel="stylesheet" href="/public/assets/css/bootstrap.css">
    
    <link rel="shortcut icon" href="/public/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/public/assets/css/app.css">
</head>

<body>
    <div id="auth">
        
<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12 mx-auto">
            <div class="card py-4">
                <div class="card-body">
                    <div class="text-center mb-5">
                        <img src="/public/assets/images/favicon.svg" height="48" class='mb-4'>
                        <h3>Forgot Password</h3>
                        <p>Please enter your email to receive password reset link.</p>
                    </div>
                    <form id="otpForm" action="/getotp" method="post">
                        <input type="hidden" name="action" value="getOtp">
                        <label for="forgotEmail">Email</label>
                        <div class="form-group d-flex">
                            <input placeholder="email" name="forgotEmail" type="email" id="forgotEmail" class="form-control">
                            <button type="submit" id="getOtpBtn" class="w-25 text-white border-0 btn-primary">Get Code</button>
                        </div>
                    </form>

                    <form action="/forgotPassword" method="post">
                        <input type="hidden" name="action" value="submitForm">
                        <label for="otp">OTP</label>
                        <div class="form-group">
                            <input name="otp" placeholder="otp" type="text" id="otp" class="form-control">
                        </div>

                        <label for="newPassword">New Password</label>
                        <div class="form-group">
                            <input placeholder="new password" name="newPassword" type="password" id="newPassword" class="form-control">
                        </div>

                        <label for="confirmPassword">Confirm Password</label>
                        <div class="form-group">
                            <input placeholder="confirm password" name="confirmPassword" type="password" id="confirmPassword" class="form-control">
                        </div>

                        <div class="clearfix">
                            <button type="submit" class="btn btn-primary float-end">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
    <script src="/public/assets/js/feather-icons/feather.min.js"></script>
    <script src="/public/assets/js/app.js"></script>
    <script src="/public/assets/js/main.js"></script>
   
</body>

</html>
