<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="" rel="stylesheet"/>
    <title>HTML to EJS</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&family=League+Spartan:wght@500&family=Mukta:wght@200&family=Noto+Sans:wght@800&family=Poppins&family=Roboto&family=Shippori+Mincho&family=Ubuntu:ital,wght@0,400;1,500&family=VT323&display=swap" rel="stylesheet">
        <!-- popines -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Mukta:wght@200&family=Noto+Sans:wght@800&family=Poppins&family=Roboto&family=Shippori+Mincho&family=Ubuntu:ital,wght@0,400;1,500&family=VT323&display=swap" rel="stylesheet">
        <!-- google font -->
  </head>
  <body>
    <header>
        <nav>
            <div class="div1">
                <img src="/logo.png" alt="">
            </div>
            <div class="div2">
            <a href="" class="a1">Course Package</a>
            <a href="" class="a2" style="color: #005495; text-decoration: underline;">Home</a>
            <a href="" class="a2">About</a>
            <a href="" class="a2">Course</a>
            <a href="" class="a2">Contact Us</a>
        </div>
        <div class="div3">
            <button>LOGIN | REGISTER</button>
            <img src="/system-regular-5-wallet.gif" alt="">
        </div>
        </nav>
       </header>
    
    
       <div class="div4"></div>
    
       <div class="div5">
        <div id="d1">
            <h1>The most <span style="color: #035799;">affordable</span> learning platform</h1>
            <p>Choose from the wide range of skillful courses to crack the ultimate code of success in the social media world. </p>
            <button>View All <i class="fa-solid fa-arrow-right-long"></i></button>
        </div>
        <div id="d2"></div>
       </div>
       <br>
    
    
        <div class="div6">
            <h2>Digital Entrepreneurship <span class="sp">Bundles</span></h2>
            <p>Enroll With Skill Achiever </p>
        </div>
        <br><br>
    
    
        <div class="div7">
            <div class="z1">
                <div class="sh" id="sh1">
                    <a href="">Platinum Package</a>
                </div>
                <div class="sh hh" id="sh2">
                    <a href="">Crystal Package</a>
                </div>
                <div class="sh hh" id="sh3">
                    <a href="">Prime Package</a>
                </div>
                <div class="sh hh" id="sh4">
                    <a href="">Heroic Package</a>
                </div>
                <div class="sh hh" id="sh5">
                    <a href="">Classic Package</a>
                </div>
            </div>
            <div class="z2">
                <div class="cc cc1">
                    <h4>Platinum Package</h4>
                    <br>
                    <hr>
                    <p>With the "<b>Platinum Packages</b>," your journey towards mastery is elevated. Whether you aspire to financial prowess, digital dominance, or cutting-edge AI skills, this collection empowers you to excel in the modern landscape. Elevate your expertise today!</p>
                    <br>
                    <button>Know More     <i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
                <div class="cc cc2"></div>
            </div>
        </div>
        <br><br>
    
    
        <div class="div8">
            <h1>India's Most Loved Educational <span>Platform</span></h1>
            <p>With Skill Achiever, Begin your journey to success.</p>
        </div>  
        <br><br>
    
        <div class="div9">
            <div class="vv1 vv">
                <br><br><br><br>
                <center>
                <span>20+</span>
                <p>Trainers</p>
            </center>
            </div>
            <div class="vv2 vv">
                 <br><br><br><br>
                <center>
                <span>15,000+</span>
                <p>STUDENTS ENROLED</p>
            </center>
            </div>
            <div class="vv3 vv">
                 <br><br><br><br>
                <center>
                <span>500+</span>
                <p>LIVE TRAINING</p>
            </center>
            </div>
            <div class="vv4 vv">
                 <br><br><br><br>
                <center>
                <span>40 Lc+</span>
                <p>COMMUNITY EARNING</p>
            </center>
            </div>
        </div>
    
        <br><br>
        <div class="div10">
            <h2>Instructors At Skill <span>Achiever</span></h2>
            <p>At Skill Achiever, you can now be assured to get the top-most training from the leading educators of their respective fields. Turn your dreams into reality with Skill Achiever proficient instructors.</p>
        </div>
    
        <br><br>
    
        <div class="div11">
            <div class="fo" id="fo1">
              <img src="/6..jpeg" alt="">
              <h2>SHIVAM SINGH</h2>
              <center>
              <span>INSTRUCTOR</span>
            </center>
            </div>
            <div class="fo" id="fo2">
                <img src="/7.jpeg" alt="">
                <h2>Ayush Kumar</h2>
                <center>
                <span>Founder Ceo</span>
              </center>
            </div>
            <div class="fo" id="fo3">
                <img src="/8.webp" alt="">
                  <h2>Vishal Bhairwa</h2>
              <center>
              <span>Students and Star Trainers</span>
            </center>
            </div>
            <div class="fo" id="fo4">
                <img src="/9.jpeg" alt="">
                  <h2>SHIVANK PANDEY</h2>
              <center>
              <span>CMO</span>
            </center>
            </div>
        </div>
        <br><br><br>
    
    
        <div class="div12">
            <h2>How Skill Achiever Works</h2>
            <br><br>
    
            <div class="tt" id="tt1">
                <center>
                <img src="/888.png" alt=""><br>
                <a href="">Explore</a><br><br>
                <b>Different Bundles And Popular Skills</b><br><br>
                <p>Explore All Of The  Options For Connecting <br> With The Most In-demand Skills On The <br> Market.</p>
                </center>
            </div>
            <div class="tt" id="tt2">
                <center>
                <img src="/777.png" alt=""><br>
                <a href="">Learn</a><br><br>
                <b>The Greatest Of The Best Trainers</b><br><br>
                <p>Learn From Trainers Who Have Real-world <br> Experience In Their Respective <br> Industries </p>
                </center>
            </div>
            <div class="tt" id="tt3">
                <center>
                <img src="/666.png" alt=""><br>
                <a href="">Inspire</a><br><br>
                <b>The World Around You</b><br><br>
                <p>Can Inspire Those Close To You And Make A <br> Genuine Change On <br> Society.</p>
                </center>
            </div>
        </div>
    
    
    
        <div class="div13">
            <h2>Video Reviews From Our Students</h2>
        </div>
        <br><br>
    
        <div class="div14">
            <h2>Most Demanding <span>Courses</span></h2>
            <p>Skill Achiever envisions providing you with the latest trending courses which make you a proficient leader in your field of expertise. </p>
                <br><br>
            <div class="main14">
                <div class="po" id="po1">
                    <img src="/10.jpeg" alt="">
                    <h5>Stock Market</h5>
                </div>
                <div class="po" id="po2">
                    <img src="/20.jpeg" alt="">
                    <h5>Digital Marketing</h5>
                </div>
                <div class="po" id="po3">
                    <img src="/30.jpeg" alt="">
                    <h5>Chat GPT Mastery</h5>
                </div>
                <div class="po" id="po4">
                    <img src="/40.png" alt="">
                    <h5>Affiliate Marketing</h5>
                </div>
       
            </div>
        </div>
    
        <br><br>
    
        <div class="div16">
            <div class="rt" id="rt1">
            </div>
            <div class="rt" id="rt2">
                <h3>CEO & Founder of <span>SkillAchiever</span></h3>
                
                <p> <b>Ayush Kumar's</b> journey as the <b>Founder</b> of <b>Skill Achiever</b> began with a profound belief in the transformative power of education. His relentless pursuit of excellence and innovation has propelled <b>Skill Achiever</b> to the forefront of the industry. Under <b>Ayush's </b> leadership, <b>Skill Achiever</b> has not only become a beacon of <b>quality</b> education but also a symbol of hope for countless learners <b>worldwide</b>.</p>
    
            </div>
        </div>
    
        <br>
    
    
            <div class="div20">
                <br><br>
                <span>Career opportunities</span><br><br>
                <h3>We always prioritize newcomers!</h3>
                <button>Career ➜</button>
            </div>
    
        <footer class="f1"></footer>
        <footer class="f2">
            <div class="fot" id="fot1">
                <br>
                <img src="/logo.png" alt="">
                <br>
                <br>
                <p>Welcome to SkillAchiever, your gateway to unlocking a world of knowledge and personal growth.</p>
                <br><br>
                <div class="circle circle1"><center>
                    <i class="fa-brands fa-facebook-f"></i>
                    </center>
                </div>
                <div class="circle circle2"><center>
                    <i class="fa-brands fa-youtube"></i>
                    </center>
                </div>
                <div class="circle circle3"><center>
                    <i class="fa-brands fa-instagram"></i>
                    </center>
                </div>
                <div class="circle circle4"><center>
                    <i class="fa-brands fa-linkedin-in"></i>
                    </center>
                </div>
            </div>
            <div class="fot" id="fot2">
                <h3>Quick links</h3>
                <br>
                <a href="">➜</a>&nbsp;&nbsp;&nbsp;
                <a href=""> About Us</a><br><br>
    
                <a href="">➜</a>&nbsp;&nbsp;&nbsp;
                <a href="">Disclaimer</a><br><br>
                
                <a href="">➜</a>&nbsp;&nbsp;&nbsp;
                <a href="">Contact Us</a><br>
            </div>
            <div class="fot" id="fot3">
                <h3>IMP links</h3>
                <br>
                <a href="">➜</a>&nbsp;&nbsp;&nbsp;
                <a href="">Privacy Policy</a><br><br>
    
                <a href="">➜</a>&nbsp;&nbsp;&nbsp;
                <a href="">Terms & Conditions</a><br><br>
                
                <a href="">➜</a>&nbsp;&nbsp;&nbsp;
                <a href="">Cancel & Refund Policy</a><br><br>
    
                <a href="">➜</a>&nbsp;&nbsp;&nbsp;
                <a href="">Login</a><br>
            </div>
            <div class="fot" id="fot4">
                <h3>Our Address</h3>
                <br>
                <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;
                <a href="">(+91) 8956742563</a><br><br>
    
                <i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;
                <a href="">LEADSLUCK, Ozone Galleria Mall &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sahyogi Nagar Ayush Vihar <br> &nbsp; &nbsp; &nbsp;&nbsp;  Colony  Gupta Niwas Dhanbad &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jharkhand 828127</a>
                <br><br>
    
    
                <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;
                <a href="">info@skillachiever.com</a>
          
            </div>
        </footer>
    
        <p class="last">© 2023 Skill Achiever || All Rights Reserved. Developed By <span style="color: #005495;">SoftTechSpinx</span> .</p>
    
  </body>
</html>